footer {
  position: fixed;
  inset: auto 0 0 0;
  background-color: blue;
  display: grid;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}